altgraph==0.17
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
future==0.18.2
idna==2.9
pefile==2019.4.18
PyInstaller==3.6
pyTelegramBotAPI==3.7.1
pywin32-ctypes==0.2.0
requests==2.7.0
six==1.15.0
snowballstemmer==2.0.0
telebot==0.0.3
urllib3==1.25.9
